.Header {
    font-size: x-large;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-content: center;
}

.Header > a {
    width: 85%;
}

.Clock {
    font-size: small;
}

.Header > button {
    align-self: center;
    width: 50%;
}