.Header {
	height: 100%;
    width: 100%;
    font-size: x-large;
}

.Header > a {
    font-size: large;
}

.Clock {
    font-size: small;
}

.Header > button {
    margin-left: 100px;
    color: blue;
    text-decoration: underline;
    width: 100px;
}