.Header {
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;
}

.Header > a {
    font-size: large;
    align-self: flex-start;
    margin-left: 20%;
}

.Clock {
    font-size: small;
    align-self: flex-end;
}