.Layout{
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
}

.List {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.List > * {
    font-size: larger;
}

a {
    color: blue;
    text-decoration: underline;
}

.active{
    color: green;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
  

.Layout {
	height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 15% 80% 5%;
    grid-template-columns: repeat(6, 1fr); /*6 equal columns*/
}

.Layout > header, .Layout > footer {
    grid-column: span 6;
}

.Layout > main {
    grid-column: span 5;
    overflow: auto;
}

.Layout, .Layout > * {
    border: 1px solid black;
}

.AddButton {
    position: fixed;
    bottom: 100px;
    right: 100px;
    font-size: xx-large;
    text-decoration:none;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: green;
}

.AddMenu {
    margin-top: 15px;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    border: 1px solid black;
}

.AddMenu > * {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
    font-size: larger;
    border-radius: 3px;
    text-align: center;
}

.Card {
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    margin: 20px;
}

.Details {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    align-content: center;
}

.Details > * {
    padding-bottom: 5px;
    align-self: center;
}

.Details > img {
    width: 400px;
}