.Layout{
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgb(247, 204, 87);
}

a {
    color: blue;
    text-decoration: underline;
}

.active{
    color: green;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
  

.Layout {
	height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 15% 80% 5%;
    grid-template-columns: repeat(6, 1fr); /*6 equal columns*/
}

.Layout > header, .Layout > footer {
    grid-column: span 6;
}

.Layout > main {
    grid-column: span 5;
    overflow: auto;
}

.Layout, .Layout > * {
    border: 1px solid black;
}

.Add {
    position: fixed;
    bottom: 100px;
    right: 100px;
    font-size: xx-large;
    text-decoration:none;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: green;
}

.Card {
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    margin: 20px;
}

.Details {
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    margin: 20px;
}

.Details > img {
    width: 50%;
}